/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
database/factories/AffiliateFactory.php
database/migrations/2023_02_17_185818_create_eduka_schema.php
database/seeders/CrocRock.php
database/seeders/FactoryTest.php
database/seeders/SchemaFoundationSeeder.php
